@model IEnumerable<Core.Models.Blog>
@{
    ViewData["Title"] = "Category";
}

<span class="fix text-white bg-success"> <a href="https://chat.whatsapp.com/"> Join our WhatsApp Group</a> </span>
<div style="margin-top: 100px;"></div> 
<br />
<div class="container mt-1">
    <div class="row">
        <div class="col-sm-12 col-xm-12 col-md-9 col-lg-9 col-xl-9"> 
            @if (Model.Count() > 0)
            {
                @foreach (var blog in Model)
                {

                        <h3 class="h6" style="font-family:Times New Roman;"> Category: @blog.Categories.Name</h3>
                        <div class="row">
                            <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="blog-inner">
                                    <div class="blog-img">
                                        <a class="stretched-link" asp-controller="Blog" asp-action="Show" asp-route-name="@blog.Id">
                                            <img src="@blog.Picture" width="100%" style="max-height:70% ;" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                                <p class="h6 text-secondary mx-3" style="font-size:15px;">@blog.Categories.Name</p>
                            <p class="mx-0" style="font-size:25px; font-family:'Times New Roman'; line-height:1.1em;"> <b> <a class="nav-link text-dark" asp-controller="Blog" asp-action="Show" asp-route-name="@blog.Id">@blog.Name</a></b> </p>
                                <p class="mx-2 lead">@Html.Raw(@blog.ShortDescription) </p>
                            </div>
                        </div>
                    
                }
            }
        </div>
        <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3">
            @if (Model.Count() > 0)
            {
 
                    <h4 class="text-center p-2">Trending</h4>
                    @foreach (var blog in Model)
                    {
                        <hr />
                        <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                            <p class="h6 text-secondary" style="font-size:10px;"> @blog.Categories.Name </p>
                            <b> @blog.Name</b>
                            <br /> <br />
                            <p class="text-muted" style="font-family: 'Times New Roman';"> @blog.DateCreated.ToString("M")</p>
                        </a>
                    }
                

            }
        </div>
    </div>

</div>

@*
<div class="container mt-2">
    <div class="row">

        @if (Model.Count() > 0)
        {
            @foreach (var blog in Model)
            {
                <div class="col-sm-9 col-xm-9 col-md-9 col-lg-9 col-xl-9">
                    <h3 class="h6" style="font-family:Times New Roman;"> Category: @blog.Categories.Name</h3>
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <a class="stretched-link" asp-controller="Blog" asp-action="Show" asp-route-name="@blog.Id">
                                        <img src="@blog.Picture" width="100%" style="max-height:70% ;" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <p class="h6 text-secondary mx-3" style="font-size:15px;">@blog.Categories.Name</p>
                            <p class="mx-0" style="font-size:25px; font-family:'Times New Roman'; line-height:1.1em;"> <b> <a class="nav-link text-dark" asp-controller="Blog" asp-action="Blog">@blog.Name</a></b> </p>
                            <p class="mx-2 lead">@Html.Raw(@blog.ShortDescription) </p>
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model.Count() > 0)
        {
             <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-2">
                    <h4 class="text-center p-2">Trending</h4>
                     @foreach (var blog in Model)
                     {
                        <hr />
                        <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                            <p class="h6 text-secondary" style="font-size:10px;"> @blog.Categories.Name </p>
                            <b> @blog.Name</b>
                            <br /> <br />
                            <p class="text-muted" style="font-family: 'Times New Roman';"> @blog.DateCreated.ToString("M")</p>
                        </a>
                     }
                </div>
           
        }

    </div>
</div>
*@

<div style="margin-top: 100px;"></div>









