@model IEnumerable<Core.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<aside class="sidebar">
    <ul class="sidebar-nav mt-3">
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Dashboard"> <i class="fa fa-user"></i>&nbsp; Dashboard </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Category"> <i class="fa fa-book"></i>&nbsp; Category </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="BlogPost"> <i class="fa fa-user"></i>&nbsp; BlogPost </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Videos"> <i class="fa fa-user"></i>&nbsp; Videos </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Music"> <i class="fa fa-music"></i>&nbsp; Music </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="Profile"> <i class="fa fa-user"></i>&nbsp; Profile </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Admin" asp-action="FAQs"> <i class="fa fa-question-circle"></i>&nbsp; FAQs </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login"> <i class="fa fa-sign-out"></i>&nbsp; Logout </a>
        </li>
    </ul>
</aside>
<div style="margin-top: 100px;"></div>
<div class="container-fluid" id="master">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="breadcrumb bg-dark justify-content-start">
                    <li class="breadcrumb-item">
                        <a class="text-white" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a class="text-white" asp-controller="Admin" asp-action="Category">Category</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-right">
                
            </div>
            <div class="col-6 text-right"> 
                <button class="btn btn-success p-2 float-right">
                    <a asp-controller="Admin" asp-action="AddCategory" class="text-white" style="text-decoration: none;"> <i class="fa fa-plus"></i>&nbsp; Add Category </a>
                </button>
            </div>
        </div>
    </div>
    <br /> <br />
   
    <div class="container">
    @if (Model.Count() > 0)
        { 
          <table class="table table-bordered table-striped rounded" width="100%">
                 <thead>
                    <th> Name</th>
                    <th> Active</th>
                    <th> Deleted </th>
                    <th> Date Created </th>
                    <th> </th>
                 </thead>

                 <tbody>
                     @foreach (var category in Model)
                        {
                         <tr>
                             <td width="20%">@category.Name</td>
                             <td width="20%">@category.Active </td>
                             <td width="20%">@category.Deleted </td>
                             <td width="20%">@category.DateCreated </td>
                             <td width="20%"> 
                                 <div class="w-75 btn-group">
                                    <a asp-controller="Admin" asp-route-id="@category.Id" asp-action="Edit" class="btn btn-outline-success mx-2" style="border-radius: 8px;"> Edit</a>
                                    <a asp-controller="Admin" asp-route-id="@category.Id" asp-action="Delete" class="btn btn-outline-success mx-2" style="border-radius: 8px;"> Delete</a>
                                 </div>
                             </td>
                            </tr>   
                        }
                </tbody>
          </table>
        }
        else
        {
            <p> No Category added </p>
        }
     
    </div>

</div>




