@model IEnumerable<Core.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top: 130px;"></div>
<div class="container-fluid" id="master">
    <div class="container">
        <div class="row">
             <div class="col-6 float-left mt-2">
                <h4 class="font-weight-bold mx-3" style="color: #012970;">Category</h4>
                <ul class="breadcrumb bg-transparent justify-content-start font-weight-bold mx-1" style="color:#899bbd;">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" style="color: #51678f;">Category</li>
                </ul>
            </div>
            <div class="col-6 float-right">
                <div class="card p-2 bg-white">
                    <p class="p-3 text-center" style="color: #012970;">
                        <a asp-controller="Admin" asp-action="AddCategory" class="font-weight-bold" style="text-decoration: none; color: #012970;"> <i class="fa fa-plus"></i>&nbsp; Add Category </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
   
    <div class="container">
        <div class="card p-4 bg-white rounded"> 
    @if (Model.Count() > 0)
        {
                <table class="display table table-borderless" id="table-show" width="100%" style="color:#51678f;">
                <thead>
                    <tr> 
                        <th> Name</th>
                        <th> Active</th>
                        <th> Deleted </th>
                        <th> Date Created </th>
                        <th> </th>
                    </tr>
                </thead>

                 <tbody>
                     @foreach (var category in Model)
                        {
                         <tr>
                             <td width="20%">@category.Name</td>
                             <td width="20%">@category.Active </td>
                             <td width="20%">@category.Deleted </td>
                             <td width="20%">@category.DateCreated.ToString("M") </td>
                             <td width="20%"> 
                                 <div class="w-50 btn-group">
                                    <a asp-controller="Admin" asp-route-id="@category.Id" asp-action="Edit" class="btn btn-outline-secondary  mx-2" style="border-radius: 8px;"><i class="fa fa-edit"></i></a>
                                    <a asp-controller="Admin" asp-route-id="@category.Id" asp-action="Delete" class="btn btn-outline-secondary mx-2" style="border-radius: 8px;"><i class="fa fa-trash"></i></a>
                                 </div>
                             </td>
                            </tr>   
                        }
                </tbody>
          </table>
        }
        else
        {
            <p> No Category added </p>
        }
     
        </div>
    </div>

</div>




