@model IEnumerable<Core.Models.Blog>
@{
    ViewData["Title"] = "Blog";
}

<span class="fix text-white bg-success"> <a href="https://chat.whatsapp.com/"> Join our WhatsApp Group</a> </span>
<div style="margin-top: 100px;"></div>
<div class="container p-2 mt-2">
    <div class="row">
        <div class="col-sm-12 col-xm-12 col-md-9 col-lg-9 col-xl-9"> 
            @if (Model.Count() > 0)
            {
                @foreach (var blog in Model)
                {
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="h6 text-secondary mx-0" style="font-size:12px;"> @blog.DateCreated </p>
                            <p class="lead mx-0" style="font-size:30px; font-family:'Times New Roman'; line-height:1.1em;"> <b>@blog.Name</b> </p>
                            <p class="" style="margin-right:10%;"> @Html.Raw(@blog.ShortDescription)</p>
                            <br />
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <a class="stretched-link" asp-controller="Blog" asp-action="Blog">
                                        <img src="@blog.Picture" width="100%" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="mx-3">@Html.Raw(@blog.Description) </p>
                        </div>
                    </div>
                }
            }
           
            <br /> <br /> <br />
            <div class="col-sm-12 col-xm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="container">
                    <h2 class="h5" style="font-family:Times New Roman;"> <b> Write a Review </b> </h2>
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Name"> Name </label>
                                <input type="text" id="name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Email"> Email </label>
                                <input type="email" id="email" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="Message"> Message </label>
                                <textarea cols="10" rows="10" class="form-control" id="message"> Message </textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" onclick="" class="btn btn-success"> Post Review </button>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-xm-12 col-md-3 col-lg-3 col-xl-3">
            <h4 class="text-center font-weight-bold p-3">Trending</h4>
            <hr />
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> BUSINESS - JULY,2022 </p>
                <b> 17 ways of Making a Medium Length Hair in different layers</b>
                <br /> <br />
                <p class="text-muted" style="font-family: 'Times New Roman';"> Teena Ugwu</p>
                <hr />
            </a>
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> LIFESTYLE - JULY,2022 </p>
                <b> 13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</b>
                <br /> <br />
                <p class="text-muted" style="font-family: 'Times New Roman';"> Kate Chinonye</p>
                <hr />
            </a>
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> HEALTH - AUGUST,2022 </p>
                <b> How to Gain Energy For Your Daily Work</b>
                <br /> <br />
                <p class="text-muted" style="font-family: 'Times New Roman';"> Joy China</p>
                <hr />
            </a>
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> LIFESTYLE - JULY,2022 </p>
                <b> 13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</b>
                <br /> <br />
                <p class="text-muted" style="font-family: 'Times New Roman';"> Teena Ugwu</p>
                <hr />
            </a>
            <a class="nav-link text-dark navbutton" asp-controller="Category" asp-action="Category">
                <p class="h6 text-secondary" style="font-size:12px;"> BUSINESS - JULY,2022 </p>
                <b> 17 Pictures of Medium Length Hair in Layers</b>
            </a>
            <hr />
        </div>
    </div>
</div>


<div style="margin-top: 100px;"></div>


